<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.JS</title>
</head>
<body>

<div id="myApp">

</div>
</body>
<script src="https://unpkg.com/vue"></script>

<script>
var app = new Vue ({
    el: "myApp",
    data: {
    message: "Hey, I'm a Vue Programmer"
    }
})
</script>
</html>
